body {
    background: #0f172a;
    color: white;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #020617;
}

.container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

button {
    background: #6366f1;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.grid {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.card button {
    margin-top: 10px;
    width: 100%;
}

.delete {
    background: red;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.modal-content {
    background: #1e293b;
    padding: 20px;
    margin: 100px auto;
    width: 300px;
    border-radius: 10px;
}